<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/statics/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Import alibaba iconfont css-->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_3309256_zyosr735gj.css">
    
    <!-- Import JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Import materialize.js -->
    <script type="text/javascript" src="/statics/js/materialize.min.js"></script>

    <script type="text/javascript" src="/statics/scripts/home.js"></script>
    <title>Login Page</title>
</head>

<body>
    <header>
        <!-- 导航栏 -->
        <nav>
            <div class="nav-wrapper teal lighten-1">
                <div class="container">
                    <a href="/" class="brand-logo"><i class="iconfont icon-shipin1" style="font-size: 20px;"></i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">World</a></li>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#">Upload</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!-- 主体内容 -->
        <!-- 视差, 仅仅用来好看 qaq -->
        <div class="parallax-container">
            <div class="parallax"><img src="statics/img/wallhaven-v9v3r5.jpg"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs blue-text text-darken-2">
                        <li class="tab col s5"><a class="active" href="#login">Sign In</a></li>
                        <li class="tab col s5"><a href="#registry">Register</a></li>
                    </ul>
                </div>

                <div id="login" class="col s12 z-depth-3">
                    <!-- 登录表单 -->
                    <div class="section white">
                        <blockquote>
                            <p class="grey-text text-darken-3 lighten-3">目前仅支持账号密码登录</p>
                        </blockquote>
                        <div class="row">
                            <form class="col s12" id="signinsubmit" method="post" action="/userhome">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input placeholder="帅气的名称" id="susername" type="text" class="validate">
                                        <label for="susername">用户名</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">input</i>
                                        <input placeholder="奇怪的密码" id="spwd" type="password" class="validate">
                                        <label for="spwd">密码</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input disabled value="暂不支持" id="disabled" type="text" class="validate">
                                        <label for="disabled">手机号</label>
                                    </div>
                                </div>
                                <button id="signinbtn" class="btn waves-effect waves-light" type="submit"
                                    name="action">提交
                                    <i class="material-icons right">send</i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="registry" class="col s12 z-depth-3">
                    <!-- 注册表单 -->
                    <div class="section white">
                        <blockquote>
                            <p class="grey-text text-darken-3 lighten-3">目前仅支持账号密码注册</p>
                        </blockquote>
                        <div class="row">
                            <form class="col s12" id="regsubmit" method="post" action="/userhome">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="username" type="text" class="validate">
                                        <label for="username">用户名</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">input</i>
                                        <input id="pwd" type="password" class="validate">
                                        <label for="pwd">密码</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input disabled value="暂不支持" id="disabled" type="text" class="validate">
                                        <label for="disabled">手机号</label>
                                    </div>
                                </div>
                                <button id="regbtn" class="btn waves-effect waves-light" type="submit"
                                    name="action">提交
                                    <i class="material-icons right">send</i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- 页脚 -->
        <footer class="page-footer teal lighten-1">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">流视频网站</h5>
                        <p class="grey-text text-lighten-4">分享交流视频, 坚持做你自己</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">链接</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/goplaymaker/video_server">GitHub</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">链接 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">链接 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">链接 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2022 Video Server, All rights reserved.
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            $(document).ready(function () {
                // 初始化"视差"组件
                $('.parallax').parallax();
            });
        </script>
    </main>
</body>

</html>